p {
  line-height: 1.6;
}

a {
  color: #2980b9;
  text-decoration: none;
}

img {
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 20px;
}

footer {
  border-top: white solid 1px;
  margin-top: 40px;
  font-size: 0.9em;
}
a {
  color: white;
  text-decoration: underline;
}
